body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.hero {
  position: relative;
  width: 100%;
  height: 700px;
  background: url("DSC_0045.JPG") no-repeat center center/cover;
}

.hero h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  text-transform: uppercase;

  color: rgb(255, 255, 255);
}

.hero p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  font-size: 1.2rem;
  color: white;
  max-width: 300px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
