/* Estilos globales */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Usamos flexbox para centrar el logo */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000; /* Fondo opcional */
}

/* Estilo para la imagen del logo */
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
