body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #0e084c;
  color: #ecf0f1;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

#header {
  background-color: #18135c;
  padding: 20px;
  text-align: center;
  width: 100%;
}

#main-container {
  display: flex;
  flex-direction: column; /* Cambio a columna en dispositivos móviles */
  align-items: center;
  padding: 20px;
  width: 100%;
}

#text-box {
  width: 80%;
  height: auto; /* Cambio a altura automática */
  border: 2px solid #233b70;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#address-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #233b70;
  border-radius: 4px;
  font-size: 18px;
}

#verify-button,
#confirmation-button button {
  padding: 12px;
  cursor: pointer;
  background-color: #17214d;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  width: 100%;
  margin-top: 10px; /* Añadido espacio en la parte superior */
}

#verify-button:hover,
#confirmation-button button:hover {
  background-color: #1f2a5f;
}

.oculto,
.noOculto {
  display: none;
}

#map-container {
  width: 80%;
  height: 60vh;
  margin-top: 20px;
  overflow: hidden;
  background-color: #0e084c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

#map-container.oculto {
  display: none;
}

#map {
  width: 100%;
  height: 100%;
  border: none;
}
