*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height:100%;
    margin: 0;
}

main{
    display: flex;
    width: 100%;
    height:100%;
    background-color: black;
}

.cuerpo{
    background-color: black;
    flex-grow: 1;
}

.barraLateralEscondida{
    background-color: rgb(57, 57, 67);
    width: 6vh; 
    height: 12vh; 
    -moz-border-radius: 0 100px 100px 0;
    -webkit-border-radius: 0 100px 100px 0;
    border-radius: 0 100px 100px 0;
    display: flex;
    align-items: center;
    align-self: center;
}

.contenedorDesplegar{
    width: 6vh;
    height:6vh ;
    display: flex;
    align-items: center;
}

.cambiarEscala{
    transform: scale(2);
}