* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: "Geist";
  src: url("https://pham.codes/d/GeistVF.woff2") format("woff2");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  flex-direction: column;
}

.logo-container {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logo-part {
  width: 80px;
  height: 80px;
  border: 4px solid #fff;
  border-radius: 0px;
  transition: transform 2s ease;
}
@keyframes rotate-fade {
  from {
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    opacity: 0;
    transform: rotate(360deg);
  }
}

/* Aplica la animación a los elementos ocultos */
.hidden {
  animation: rotate-fade 1.5s ease forwards;
}
.Ele1 {
  animation-delay: 0.3s;
  width: 9px;
}
.Ele2 {
  animation-delay: 0.3s;
  width: 9px;
  margin-bottom: 2px;
}
.top-left {
  border-bottom: none;
  border-right: none;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  padding-bottom: 25px;
}

.top-right {
  border-bottom: none;
  border-left: none;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-bottom: 25px;
}

.bottom-left {
  border-top: none;
  border-right: none;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  padding-top: 25px;
}

.bottom-right {
  border-top: none;
  border-left: none;
  bottom: 0;
  right: 0;
}

.logo-text {
  margin-top: 20px;
  font-family: "Geist";
  font-size: 35px;
  color: #fff;
  transition: opacity 1s ease 1s;
  text-wrap-mode: nowrap;
}
.logo-text {
  display: flex; /* Usa flexbox para alinear los elementos */
  justify-content: center; /* Centra los elementos (opcional) */
}

.logo-text span {
  font-weight: 100;
  margin-right: 0.4em; /* Espacio entre letras */
}

.logo-text span:last-child {
  margin-right: 0; /* Sin margen a la última letra */
}
.logo-subtext {
  font-family: "Geist";
  font-weight: 100;

  margin-top: 7px;

  font-size: 12px;
  color: #fff;
  transition: opacity 1s ease 1s;
  text-wrap-mode: nowrap;
}
.logo-text span,
.logo-subtext span {
  display: inline-block;
  opacity: 1;
  animation: fadeOut 1.5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(200px);
  }
}

/* Retraso en la animación para cada letra */
.logo-text span:nth-child(1) {
  animation-delay: 1.35s;
}
.logo-text span:nth-child(2) {
  animation-delay: 1.3s;
}
.logo-text span:nth-child(3) {
  animation-delay: 1.25s;
}
.logo-text span:nth-child(4) {
  animation-delay: 1.2s;
}
.logo-text span:nth-child(5) {
  animation-delay: 1.15s;
}
.logo-text span:nth-child(6) {
  animation-delay: 1.1s;
}
.logo-text span:nth-child(7) {
  animation-delay: 1.05s;
}
.logo-text span:nth-child(8) {
  animation-delay: 1s;
}
.logo-text span:nth-child(9) {
  animation-delay: 0.95s;
}

.logo-subtext span:nth-child(1) {
  animation-delay: 0.3s;
}
.logo-subtext span:nth-child(2) {
  animation-delay: 0.35s;
}
.logo-subtext span:nth-child(3) {
  animation-delay: 0.4s;
}
.logo-subtext span:nth-child(4) {
  animation-delay: 0.45s;
}
.logo-subtext span:nth-child(5) {
  animation-delay: 0.5s;
}
.logo-subtext span:nth-child(6) {
  animation-delay: 0.55s;
}
.logo-subtext span:nth-child(7) {
  animation-delay: 0.6s;
}
.logo-subtext span:nth-child(8) {
  animation-delay: 0.65s;
}
.logo-subtext span:nth-child(9) {
  animation-delay: 0.7s;
}
.logo-subtext span:nth-child(10) {
  animation-delay: 0.75s;
}
.logo-subtext span:nth-child(11) {
  animation-delay: 0.8s;
}
.logo-subtext span:nth-child(12) {
  animation-delay: 0.85s;
}
.logo-subtext span:nth-child(13) {
  animation-delay: 0.9s;
}
.hide .logo-part.top-left {
  transition-delay: 0.3s;

  transform: translateX(-500px) translateY(-500px);
}

.hide .logo-part.top-right {
  transition-delay: 0.5s;
  transform: translateX(500px) translateY(-500px);
}

.hide .logo-part.bottom-left {
  transition-delay: 0.9s;

  transform: translateX(-500px) translateY(500px);
}

.hide .logo-part.bottom-right {
  transition-delay: 0.7s;

  transform: translateX(500px) translateY(500px);
}

.hide .logo-text,
.hide .logo-subtext {
  opacity: 0;
}
