body {
  background: #e5dcd6;
}
div.fotos {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 140px;
  padding-left: 30px;
  padding-right: 30px;
}
.contenedorImg {
  text-align: center;
  height: 100%;
  flex: 1;
}
.foto1 {
  margin-top: 20px;
  height: 70%;
}
.foto2 {
  height: 70%;
}
.titulo {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 22px;
  font-family: "universBold", sans-serif;
}
.descripcion {
  line-height: 25px;
  text-align: left;
  font-family: "universBold", sans-serif;
  padding: 20px;
  padding-top: 0;
}
