@import url("https://fonts.googleapis.com/css?family=Pontano+Sans");
body {
  background: #e5dcd6;
  font-family: "Pontano Sans", sans-serif;
}
div.fotos {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  padding-left: 30px;
  padding-right: 30px;
}
.contenedorImg {
  text-align: center;
  height: fit-content;
  flex: 1;
}
.foto1 {
  margin-top: 20px;
  height: 70%;
}
.foto2 {
  height: 70%;
}
.titulo {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 22px;
}
.descripcion {
  line-height: 25px;
  text-align: left;
  font-family: "universBold", sans-serif;
  padding: 20px;
  padding-top: 0;
}
.foto1 {
  margin-top: 20px;
  height: 200px;
}
.foto2 {
  height: 200px;
}
@media (max-width: 768px) {
  .foto1 {
    margin-top: 20px;
    height: 100px;
  }
  .foto2 {
    height: 100px;
  }
}
@media (max-width: 400px) {
  .foto1 {
    margin-top: 10px;
    height: 70px;
  }
  .foto2 {
    height: 70px;
  }
}
