/* cuponeras.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input,
button {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #0056b3;
}

#back-btn {
  background-color: #6c757d;
}

#back-btn:hover {
  background-color: #5a6268;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    box-shadow: none;
  }

  h1 {
    font-size: 24px;
  }

  label,
  input,
  button {
    font-size: 14px;
    padding: 8px;
  }
}
